services:
  db:
    image: postgres:17-alpine
    container_name: database
    env_file:
      - .env
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./scripts:/scripts
      - pgdata:/var/lib/postgresql/data
      - pgdump:/var/backups/db_dumps
      - /etc/localtime:/etc/localtime:ro
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      TZ: Europe/Moscow  
    expose:
      - "5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $DB_USER -d $DB_NAME" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    networks:
      - app-network
  app:
    container_name: app
    build:
      context: .
    env_file:
      - .env
    environment:
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
    ports:
      - "5000:5000"
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
networks:
  app-network:
volumes:
  pgdata:
  pgdump:
